{% extends 'base.html' %}
{% block title %}Edit User{% endblock %}
 
{% block content %}
    <h1>Edit User</h1>
    <form action="/users/{{user.id}}/edit" method="POST">
        <label for="first_name">First Name</label><br>
        <input type="text" id='first_name' name='first_name'><br>
        <br>
        <label for="last_name">Last Name</label><br>
        <input type="text" id='last_name' name='last_name'><br>
        <br>
        <label for="image_url">Image URL</label><br>
        <input type="text" id='image_url' name="image_url"><br>
        <br>
        <button><a href="/users/{{user.id}}">Cancel</a></button>
        <button>Save</button>
    </form>
{% endblock %}