{% extends 'base.html' %}
{% block title %}Edit Post{% endblock %}

{% block content %}
    <h1>Edit Post for {{user.first_name}} {{user.last_name}}</h1>
    <form action="/posts/{{post.id}}/edit" method="POST">
        <label for="title">Title</label><br>
        <input type="text" id='title' name='title' required value="{{post.title}}"><br>
        <br>
        <label for="content">Content</label><br>
        <input type="text" id='content' name='content' required value="{{post.content}}"><br>
        <fieldset>
            <legend>Tags:</legend>
            {% for tag in tags %}
            
            <input type="checkbox" 
                id="tag_{{tag.id}}" 
                name="tags" 
                value="{{tag.id}}"
                {% if tag in post.tags %}checked{% endif %}>
            <label for="tag_{{tag.name}}"> {{tag.name}}</label><br>
            {% endfor %}
        </fieldset>
        <br>
        <button><a href="/posts/{{post.id}}">Cancel</a></button>
        <button>Edit</button>
    </form>
{% endblock %}