{% extends 'base.html' %}
{% block title %}New Post{% endblock %}

{% block content %}
    <h1>Add Post for {{user.first_name}} {{user.last_name}}</h1>
    <form action="/users/{{user.id}}/posts/new" method="POST">
        <label for="title">Title</label><br>
        <input type="text" id='title' name='title' required><br>
        <br>
        <label for="content">Content</label><br>
        <input type="text" id='content' name='content' required><br>
        <br>
        <fieldset>
            <legend>Tags:</legend>
            {% for tag in tags %}
            <input type="checkbox" id="tag_{{tag.id}}" name="tags" value="{{tag.id}}">
            <label for="tag_{{tag.name}}"> {{tag.name}}</label><br>
            {% endfor %}
        </fieldset>
        <button><a href="/users/{{user.id}}">Cancel</a></button>
        <button>Add</button>
    </form>
{% endblock %}