{% extends 'base.html' %}
{% block title %}{{post.title}}{% endblock %}

{% block content %}
    <img src="{{user.image_url}}">
    <h1>{{post.title}}</h1>
    <h2></h2>
    <p>{{post.content}}</p>
    <h3>By <a href="/users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a> on {{post.friendly_date}}</h3>
    
    {% if post.tags %}
    <p>
        <b>Tags:</b>
        {% for tag in post.tags %}
            <a href="/tags/{{tag.id}}"><i>{{tag.name}}</i></a>
        {% endfor %}
    </p>
    {% endif %}
    <button><a href="/posts/{{post.id}}/edit">Edit Post</a></button>
    <button><a href="/posts/{{post.id}}/delete">Delete Post</a></button>
{% endblock %}