{% extends 'base.html' %}
{% block title %}{{user.first_name}} {{user.last_name}}{% endblock %}

{% block content %}
    <img src="{{user.image_url}}">
    <h1>{{user.first_name}} {{user.last_name}}</h1>
    <button><a href="/users/{{user.id}}/edit">Edit</a></button>
    <button><a href="/users/{{user.id}}/delete">Delete</a></button>
    <br> <br> <br>
    
    {% if user.posts %}
        <h2>Posts</h2>
        <ul>
        {% for post in user.posts %}
            <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
        {% endfor %}
        </ul>
    {% endif %}
    <button><a href="/users/{{user.id}}/posts/new">New Post</a></button>


{% endblock %}